
Options +FollowSymLinks -Multiviews -Indexes
RewriteEngine on

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^view\/(.*)  view.php?usr=$1 [L,QSA]

# To internally redirect /dir/foo to /dir/foo.php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [L]

ErrorDocument 403 http://www.r1models.com/error/err.php?e=403
ErrorDocument 404 http://www.r1models.com/error/err.php?e=404
ErrorDocument 500 http://www.r1models.com/error/err.php?e=500
ErrorDocument 502 http://www.r1models.com/error/err.php?e=502
